.app-container{
  max-width: 1320px;
  margin: 0 auto;
}
.cv-container {
  margin-top: 130px;
  display: flex;
  @media (max-width: 1300px){
    display: block;
  }
  aside {
    flex: 0 0 400px;
    max-width: 400px;
    background-color: #1B4DA1;
    & > .rail {
      margin-top: 300px;
      width: 400px;
      z-index: 1;
    }
    .container{
      width: 100%;
    }
    @media (max-width: 1300px){
      display: none;
    }
  }
  section {
    flex: 1 0 auto;
    margin-top: 130px;
  }
}