.app-container{
  max-width: 1320px;
  margin: 0 auto;
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
.cv-container {
  min-height: 400vh;
  margin-top: 300px;
  display: flex;
  &.header{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 50px;
    height: 300px;
    aside {
      position: relative;
      img {
        position: absolute;
        width: auto;
        height: 100%;
      }
    }
    section{
      position: relative;
      h1{
        position: absolute;
      }
    }
  }
  aside {
    flex: 1 0 20vw;
    max-width: 20vw;
    background-color: #1B4DA1;
  }
  section {
    flex: 3 0 auto;
  }
}